:root {
    --background: #33373F;
    --background-2: #41454E;
    --foreground: white;
    --foreground-2: #484d54;
    --content-width: 1000px;
  }
    
  h1, h2, h3 {
    font-weight: normal;
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    text-align: center;
  }
  
  #title-block-header {
    display: none;
  }
  
  .navbar {
    background: var(--background);
    text-align: left;
    font-size: 16px;
  }
  
  .title, .navbar-title {
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 4px;
  }
  
  .navbar-title {
    background: linear-gradient(240.01deg, #4B555B 15.29%, rgba(67, 78, 84, 0) 138.75%);
  }
  
  .title {
    background: linear-gradient(240.01deg, #78858C 15.29%, rgba(105, 117, 123, 0) 138.75%);
  }
  